.mario {
    width:130px;
    position: absolute;
    bottom: 0%;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(36, 161, 36);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF)
}

.turtle {
    position: absolute;
    bottom: 0;
    width:120px;
    animation:turtle-animation 1.5s infinite linear;
}

.jump {
    animation: jump 500ms ease-out;

}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes turtle-animation {
    from {
        right: -80px;
    }
    
    to {
        right: 100%;
    } 
}
@keyframes jump {
 from {
    bottom: 0;
 }

 40% {
    bottom: 35%;
}

50% {
    bottom: 35%;
}

60% {
    bottom: 35%;
}

 to {
    bottom: 0;
 }
}
@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}