.mario {
    width:130px;
    position: absolute;
    bottom: 0%;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.turtle {
    position: absolute;
    bottom: 0;
    width:120px;
    animation:turtle-animation 2s infinite linear;
}

.jump {
    animation: jump 500ms ease-out;

}

@keyframes turtle-animation {
    from {
        right: -80px;
    }
    
    to {
        right: 100%;
    } 
}
@keyframes jump {
 from {
    bottom: 0;
 }

 40% {
    bottom: 35%;
}

50% {
    bottom: 35%;
}

60% {
    bottom: 35%;
}

 to {
    bottom: 0;
 }
}